:root {
  --blue: #033C73;
  --indigo: #6610F2;
  --purple: #6F42C1;
  --pink: #E83E8C;
  --red: #C71C22;
  --orange: #FD7E14;
  --yellow: #DD5600;
  --green: #73A839;
  --teal: #20C997;
  --cyan: #2FA4E7;
  --white: #FFF;
  --gray: #868E96;
  --gray-dark: #343A40;
  --primary: var(--cyan);
  --secondary: #E9ECEF;
  --success: var(--green);
  --info: var(--blue);
  --warning: var(--orange);
  --danger: var(--red);
  --light: #F8F9FA;
  --dark: var(--gray-dark);
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --primary-dark: #157AB5;
  --dark: var(--gray-dark);
  --white-less-opaque: rgba(255, 255, 255, 0.8);
  --black-mostly-transparent: rgba(0, 0, 0, 0.03);
  --black-more-transparent: rgba(0, 0, 0, 0.125);
  --grad-light-primary: #54B4EB;
  --grad-dark-primary: #1D9CE5;
  --grad-light-success: #88C149;
  --grad-dark-success: #699934;
  --dark-text: #495057;
  --light-border: #CED4DA;
  --primary-active-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  --success-border: #59822C;
  --transition: 0.15s ease-in-out;
  --d-flex-xs-only: flex;
  --d-flex-sm-only: none;
  --d-flex-md-only: none;
  --d-flex-lg-only: none;
  --d-flex-xl-only: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
  min-width: 350px;
  min-height: 100vh;
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--dark);
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(var(--grad-light-primary), var(--primary) 60%, var(--grad-dark-primary));
  background-repeat: no-repeat;
  background-color: var(--primary);
  color: var(--dark-text);
}

a {
  text-decoration: none;
  font-weight: 400;
  color: var(--primary);
  transition: color var(--transition);
}

a:hover {
  text-decoration: none;
  color: var(--primary-dark);
}

input,
button {
  border: 1px solid var(--light-border);
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  box-sizing: border-box;
  height: calc(1.5em + 0.75rem + 2px);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

input {
  background-color: var(--white);
  color: var(--dark-text);
  transition: border-color var(--transition), box-shadow var(--transition);
}

input:focus {
  box-shadow: var(--primary-active-shadow);
}

button {
  background-image: linear-gradient(var(--grad-light-success), var(--success) 60%, var(--grad-dark-success));
  background-repeat: no-repeat;
  background-color: var(--success);
  border-color: var(--success);
  color: var(--white);
  text-align: center;
  cursor: pointer;
  transition: border-color var(--transition), color var(--transition);
}

button svg {
  width: 1rem;
  height: 1rem;
  fill: var(--white);
  transition: fill var(--transition);
}

button:hover {
  border-color: var(--success-border);
  color: var(--orange);
}

button:hover svg {
  fill: var(--orange);
}

svg.symbol {
  display: none;
}

div.breakpoint {
  justify-content: center;
  align-items: center;
  background-color: var(--info);
  color: var(--light);
}

div.breakpoint.xs {
  display: var(--d-flex-xs-only);
}

div.breakpoint.sm {
  display: var(--d-flex-sm-only);
}

div.breakpoint.md {
  display: var(--d-flex-md-only);
}

div.breakpoint.lg {
  display: var(--d-flex-lg-only);
}

div.breakpoint.xl {
  display: var(--d-flex-xl-only);
}

nav .brand {
  margin-right: 1rem;
  padding: 0.3125rem 0;
  font-size: 1.25rem;
  text-align: left;
  text-decoration: none;
  color: var(--white);
}

nav .login {
  color: var(--white-less-opaque);
}

nav .login:hover {
  color: var(--white);
}

section.register,
section.login {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.register h1,
section.login h1 {
  display: none;
}

section.register form {
  margin-bottom: 1.5rem;
}

section.login form {
  margin-top: 1.5rem;
}

section.register form,
section.login form {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  padding: 0.75rem;
  box-sizing: border-box;
  width: 25rem;
  background-image: linear-gradient(var(--grad-light-primary), var(--primary) 60%, var(--grad-dark-primary));
  background-repeat: no-repeat;
  background-color: var(--primary);
}

section.register form input,
section.register form button,
section.login form input,
section.login form button {
  margin: 0.2rem 0;
}

section.register form p.error,
section.login form p.error {
  display: none;
  margin: 0 0 0.4rem;
  font-size: smaller;
  color: var(--red);
}

section.register form p.error {
  margin: 0 0 0.4rem;
}

section.login form p.error {
  margin: 0;
}

section.register div,
section.login div {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  border: 1px solid var(--primary);
  border-radius: 0.25rem;
  box-sizing: border-box;
  width: 25rem;
  font-size: smaller;
  background-color: var(--white);
}

section.register div p,
section.login div p {
  margin: 0;
  border-bottom: 1px solid var(--black-more-transparent);
  padding: 0.75rem 1.25rem;
  text-align: center;
  background-color: var(--black-mostly-transparent);
  color: var(--dark-text);
}

section.register div a,
section.login div a {
  display: block;
  margin: 0.75em;
  text-align: center;
}

form.logout {
  display: flex;
  align-items: baseline;
}

form.logout span {
  display: inline-block;
  margin-right: 0.25rem;
  max-width: 135px;
  max-height: 1.5em;
  text-align: right;
  overflow: hidden;
}

form.logout button span {
  display: none;
}

@media (min-width: 576px) {
  :root {
    --d-flex-xs-only: none;
    --d-flex-sm-only: flex;
  }

  form.logout span {
    max-width: 250px;
  }
}

@media (min-width: 768px) {
  :root {
    --d-flex-sm-only: none;
    --d-flex-md-only: flex;
  }

  form.logout span {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  :root {
    --d-flex-md-only: none;
    --d-flex-lg-only: flex;
  }
}

@media (min-width: 1200px) {
  :root {
    --d-flex-lg-only: none;
    --d-flex-xl-only: flex;
  }

  nav {
    justify-content: space-around;
  }

  form.logout button span {
    display: initial;
  }

  form.logout button svg {
    display: none;
  }
}

/* section.register, */
/* section.login, */
form.logout,
.inactive
{
  display: none;
}
