:root {
  --blue: #033C73;
  --indigo: #6610F2;
  --purple: #6F42C1;
  --pink: #E83E8C;
  --red: #C71C22;
  --orange: #FD7E14;
  --yellow: #DD5600;
  --green: #73A839;
  --teal: #20C997;
  --cyan: #2FA4E7;
  --white: #FFF;
  --gray: #868E96;
  --gray-dark: #343A40;
  --primary: var(--cyan);
  --secondary: #E9ECEF;
  --success: var(--green);
  --info: var(--blue);
  --warning: var(--orange);
  --danger: var(--red);
  --light: #F8F9FA;
  --dark: var(--gray-dark);
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --light-border: #CED4DA;
  --success-border: #59822C;
  --grad-light-primary: #54B4EB;
  --grad-dark-primary: #1D9CE5;
  --grad-light-success: #88C149;
  --grad-dark-success: #699934;
  --dark-text: #495057;
  --d-flex-xs-only: flex;
  --d-flex-sm-only: none;
  --d-flex-md-only: none;
  --d-flex-lg-only: none;
  --d-flex-xl-only: none;
}

body {
  margin: 0;
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

svg.symbol {
  display: none;
}

div.breakpoint {
  justify-content: center;
  align-items: center;
  background-color: var(--info);
  color: var(--light);
}

div.breakpoint.xs {
  display: var(--d-flex-xs-only);
}

div.breakpoint.sm {
  display: var(--d-flex-sm-only);
}

div.breakpoint.md {
  display: var(--d-flex-md-only);
}

div.breakpoint.lg {
  display: var(--d-flex-lg-only);
}

div.breakpoint.xl {
  display: var(--d-flex-xl-only);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-width: 450px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(var(--grad-light-primary), var(--primary) 60%, var(--grad-dark-primary));
  background-repeat: no-repeat;
  background-color: var(--cyan);
  color: var(--dark-text);
}

.navbar .brand {
  margin-right: 1rem;
  padding: 0.3125rem 0;
  font-size: 1.25rem;
  text-align: left;
  text-decoration: none;
  color: var(--white);
}

.logout {
  display: none;
}

.login input,
.login button,
.logout button {
  box-sizing: border-box;
  border: 1px solid var(--light-border);
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.login input {
  margin-bottom: 0.25rem;
  background-color: var(--white);
  color: var(--dark-text);
}

.logout span {
  display: inline-block;
  max-width: 200px;
  max-height: 1.5em;
  text-align: right;
  overflow: hidden;
}

.login button,
.logout button {
  background-image: linear-gradient(var(--grad-light-success), var(--success) 60%, var(--grad-dark-success));
  background-repeat: no-rsuccess;
  background-color: var(--green);
  border-color: var(--green);
  color: var(--white);
  text-align: center;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.logout button {
  width: auto;
}

.login button svg,
.logout button svg {
  width: 1rem;
  height: 1rem;
  fill: var(--white);
  transition: fill 0.15s ease-in-out;
}

.login button:hover,
.logout button:hover {
  border-color: var(--success-border);
  color: var(--orange);
}

.login button:hover svg,
.logout button:hover svg {
  fill: var(--orange);
}

.login button svg,
.logout button span {
  display: none;
}

@media (min-width: 576px) {
  :root {
    --d-flex-xs-only: none;
    --d-flex-sm-only: flex;
  }

  .login input {
    margin-right: 0.1rem;
    margin-bottom: 0;
    width: 10rem;
  }

  .login button {
    width: auto;
  }

  .login button span {
    display: none;
  }

  .login button svg {
    display: initial;
  }
}

@media (min-width: 768px) {
  :root {
    --d-flex-sm-only: none;
    --d-flex-md-only: flex;
  }

  .login input {
    margin-right: 0.25rem;
    width: auto;
  }
}

@media (min-width: 992px) {
  :root {
    --d-flex-md-only: none;
    --d-flex-lg-only: flex;
  }
}

@media (min-width: 1200px) {
  :root {
    --d-flex-lg-only: none;
    --d-flex-xl-only: flex;
  }

  .navbar {
    justify-content: space-around;
  }

  .login button span,
  .logout button span {
    display: initial;
  }

  .login button svg,
  .logout button svg {
    display: none;
  }
}
